controlnet_aux
diffusers==0.31.0
transformers==4.46.3
peft
numpy==1.26.2
huggingface_hub==0.28.1
accelerate==1.1.1
opencv-python
safetensors
pillow
omegaconf
trimesh
einops
gradio==4.44.1
timm
kornia
scikit-image
